@use '../assets/styles/base' as *;

.fullscreen {
  width: 100%;
  height: 100%;
}
.textDisplay {
  text-transform: uppercase;
  display: block;
}

.landingWrap {
  position: absolute;
  @extend .fullscreen;
  background-image: url('../assets/img/bossspash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center rem(56);

  .sectionFrame {
    @extend .fullscreen;
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 59.81%);
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .contentWrap {
      color: $color-white;
      text-align: center;
      padding: 0 rem(17) rem(17) rem(17);

      p {
        position: relative;
        width: 100%;
        max-width: rem(260);
        font-size: rem(15);
        font-weight: 700;
        text-align: center;
        margin: rem(8) auto 0;
        padding-bottom: rem(25);
        display: block;
      }
    }

    .smallTitle {
      font-size: rem(18);
      font-weight: 800;
      padding-bottom: rem(15);
      @extend .textDisplay;
    }
    .bigTitle {
      font-size: rem(48);
      font-weight: 800;
      letter-spacing: rem(-1);
      line-height: rem(48);
      @extend .textDisplay;
    }
  }
}
