@use '../assets/styles/base' as *;

.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  svg {
    position: absolute;
    left: 0;
    top: rem(-80);
    path {
      animation: arrowsAnimate 1.2s infinite;
      &:nth-child(2) {
        animation-delay: -0.2s;
      }
      &:nth-child(3) {
        animation-delay: -0.4s;
      }
    }
  }

  .sectionFrame {
    width: 100%;
    height: 100%;
    background: linear-gradient(169.43deg, #141414 41.98%, #1B1B1B 162.74%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 rem(17) rem(17) rem(17);
    box-sizing: border-box;
    flex-direction: column;

    .content {
      color: $color-white;
      text-align: center;
      display: flex;
      flex-direction: column;
      padding-top: rem(100);
      flex: 1;
      justify-content: center;

      .bigTitle {
        font-size: rem(48);
        font-weight: 800;
        line-height: rem(45);
        letter-spacing: rem(-1);
        text-transform: uppercase;
        display: block;
      }

      .smallTitle {
        position: relative;
        width: 100%;
        max-width: rem(255);
        font-size: rem(24);
        font-weight: 800;
        line-height: rem(23);
        text-transform: uppercase;
        text-align: center;
        margin: rem(8) auto 0;
        display: block;
      }
    }
  }
}

@keyframes arrowsAnimate {
  0% {
      opacity: 0;
      transform: translate(rem(0), rem(0));
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: translate(rem(0), rem(0));
  }
}
