$color-white: #ffffff;
$color-black: #000000;

$color-beige: #987147;
$color-orange: #eb6608;
$color-green: #80ba27;

$color-grey1: #ededed;
$color-grey2: #b7b7b7;
$color-grey3: #b2b2b2;
$color-grey4: #929292;
$color-grey5: #6f6f6f;
$color-grey6: #4a4a4a;

// RGBA Colors
$rgba-white-01: rgba(255, 255, 255, 0.1);
$rgba-white-02: rgba(255, 255, 255, 0.2);
$rgba-white-03: rgba(255, 255, 255, 0.3);
$rgba-white-04: rgba(255, 255, 255, 0.4);
$rgba-white-05: rgba(255, 255, 255, 0.5);
$rgba-white-06: rgba(255, 255, 255, 0.6);
$rgba-white-07: rgba(255, 255, 255, 0.7);
$rgba-white-08: rgba(255, 255, 255, 0.8);
$rgba-white-09: rgba(255, 255, 255, 0.9);
$rgba-black-01: rgba(0, 0, 0, 0.1);
$rgba-black-02: rgba(0, 0, 0, 0.2);
$rgba-black-03: rgba(0, 0, 0, 0.3);
$rgba-black-04: rgba(0, 0, 0, 0.4);
$rgba-black-05: rgba(0, 0, 0, 0.5);
$rgba-black-06: rgba(0, 0, 0, 0.6);
$rgba-black-07: rgba(0, 0, 0, 0.7);
$rgba-black-08: rgba(0, 0, 0, 0.8);
$rgba-black-09: rgba(0, 0, 0, 0.9);
