@font-face {
  font-family: 'Averta PE';
  src: url('../fonts/AvertaPE-Extrabold.eot');
  src: url('../fonts/AvertaPE-Extrabold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvertaPE-Extrabold.woff2') format('woff2'),
    url('../fonts/AvertaPE-Extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Averta PE';
  src: url('../fonts/AvertaPE-Bold.eot');
  src: url('../fonts/AvertaPE-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvertaPE-Bold.woff2') format('woff2'),
    url('../fonts/AvertaPE-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Averta PE';
  src: url('../fonts/AvertaPE-Light.eot');
  src: url('../fonts/AvertaPE-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvertaPE-Light.woff2') format('woff2'),
    url('../fonts/AvertaPE-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
