// Responsive Font Sizes
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;
  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }
  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;
    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }
  @if $fallback {
    font-size: $fallback;
  }
  font-size: $responsive;
}

// KeyFrames
@mixin keyframes($animationame) {
  @-webkit-keyframes #{$animationame} {
    @content;
  }
  @-moz-keyframes #{$animationame} {
    @content;
  }
  @-ms-keyframes #{$animationame} {
    @content;
  }
  @keyframes #{$animationame} {
    @content;
  }
}
